* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f5;
}
.container {
  font-family: helvetica;
  margin: 7px;
}
.hovedmenu, .undermenu, footer {
  width: 100%;
  margin: 5%;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9494b8;
    height: 3em;
    color: #0d0d0d;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
.menu a:hover {
  background: #60a9c1;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li {
    width: 100%;
}
.dropdown {
    display: flex;
    flex-direction: column;
}
.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: flex;
    flex-direction: column;
}
.logo {
  height: 40px;
}
.logo-billede {
height: 70%;
width: auto;
border-radius: 20px;
}
.hovedmenu {
  height: 40px;
}
.undermenu {
  display: none;
}
article {
  float: left;
}
footer {
  margin: 5px;
  height: 30px;
  outline: 1px solid #666;
  width: 100%;
  display: flex;
  padding: 1%;
  font-family: helvetica;
}

.billede {
  margin-bottom: 5%;
  padding: 5%;
  float: left;
}
p {
  margin-bottom: 3%;
  font-family: Optima;
}
#vand {
  float: left;
  margin-right: 50%;
}

#blomst {
  float: right;
  margin-left: 50%
}
#him {
  float: left;
  margin-right: 50%;
}
#træ {
  float: right;
  margin-left: 50%
}
#ski {
  float: left;
  margin-right: 50%;
}
#sol {
  float: right;
  margin-left: 50%
}
#bk1 {
  float: left;
  margin-right: 50%;
}
#bk2
{
  float: right;
  margin-left: 50%
}
